<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Content Management Service</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of
                        services for businesses that prefer to manage all their technology needs in
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="graphicCardSection mt-5">
        <div class="heading">
            <h4>___Content Management System___</h4>
            <h3>Grow Your Business With Our Agency</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/content-management.jpg" alt="img">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/content-manegment1.jpg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cardText">
                        <p>Content management system enables one to make or to adjust content in a website without prior
                            particular specialized information. It encompasses content creation, storage, workflow
                            management as well as publication. It is collaborative in nature as it allows multiple
                            persons to contribute to content. We at Devant IT Solutions aspire to provide our clients
                            with a strategy for a content management system that takes into account the changing
                            technological landscape. Our service aims to deliver service in this field which is both
                            financially beneficial as well as has a virtuous effect on brand perception. We provide
                            guidance to our clients in choosing appropriate content management system platforms
                            compatible with financial and technological needs. We work on the basis of a comprehensive
                            understanding of our client’s goals and objectives.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <div class="ourServices">
        <h3>Our Services</h3>
        <p>A software where users can create, modify and manage content is called a content management system (CMS) on a
            website. Technical knowledge is not needed here. A content management system can also be defined as a tool
            where we can build a website. We don’t have to write codes from scratch. To create web pages, storing
            images, a content management system is required.</p>
    </div>

    <div class="row">
        <div class="col-lg-5">

            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Drupal</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>WordPress</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Joomla</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Wix</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Magento</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Weebly</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>ModX</h2>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="ourBenefits">
                <h3>Benefits of a content management system</h3>
                <p>In CMS multiple users can log on and contribute. Any user can access CMS at any time and from
                    anywhere. By CMS a user who is non-technical can create and manage their own web content easily.
                    When CMS is needed to publish pages by organizations, many times it doesn’t engage developers for
                    the changes and work on the front-end of the website. Thus, new content can publish easily and
                    quickly.
                </p>
            </div>
            <br>
            <div class="ourBenefits">
                <h3>Who We Are?</h3>
                <p>Devant IT Solutions provides the best content management system service in West Bengal. We provide
                    content by optimizing our client's digital experience. We provide CMS to create, edit all the
                    digital content like blog posts, web posts on our website. We evaluate our company’s management
                    practices for publishing all the contents. We create lists to sort out the business problems. Thus
                    it helps to choose the right content management system.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>