<!-- header section start here -->

<div class="headerBackGround">
    <div class="container">
        <div class="headerSection">
            <div class="leftText">
                <p>We have over 4 years of experience.</p>
            </div>
            <div class="rightHeader">
                <div class="icon">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="text">
                    <p>(+033) 4065 8041</p>
                </div>
            </div>
        </div>

        <div class="headerButtom">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <img src="../../assets/images/logo.png" alt="logo">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="contactIcon">
                        <ul>
                            <li>
                                <div class="icon_1">
                                    <img src="../../assets/images/call.png" alt="call">
                                </div>
                                <div class="contact">
                                    <h6>(+033) 4065 8041</h6>
                                    <p>info@devantitsolutions.com</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon_1">
                                    <img src="../../assets/images/location.png" alt="location">
                                </div>
                                <div class="contact">
                                    <h6> Manhattan Hall,</h6>
                                    <p>Copious Melbourne, New Yourk</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon_1">
                                    <img src="../../assets/images/clock.png" alt="clock">
                                </div>
                                <div class="contact">
                                    <h6>11.00 – 8.00</h6>
                                    <p>Monday to Saturday</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- header section end here -->

<!-- navbar section start here -->
<div class="container navSection">
    <nav class="navbar navbar-expand-lg navbarBackGround" (scroll)="onscroll()"
        [ngClass]="navbarfixed?'fixed':'nofixed'">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <h3 data-bs-toggle="collapse" data-bs-target="#navbarNav">Close</h3> -->
            <div class="collapse navbar-collapse styleNavbar" [ngClass]="navbarPadding? 'padding' :'notPadding' "
                id="navbarNav">
                <ul class="navbar-nav listPadding">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="" data-bs-toggle="collapse" data-bs-target="#navbarNav">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about-page" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav">About us</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn dropdown-toggle">Services</a>
                        <div class="dropdown-content">
                            <a class="nav-link">
                                <div class="dropdown dropdown1">
                                    <a class="nav-link dropdown-toggle dropDownLink" data-bs-toggle="dropdown">Graphics
                                        Design</a>
                                    <ul class="dropdown-menu dropdown11">
                                        <li><a class="nav-link" routerLink="brochure-designing"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Brochure
                                                Designing</a>
                                        </li>
                                        <li><a class="dropdown-item" routerLink="logo-corporate"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Logo & Corporate
                                                ID
                                                design</a></li>
                                        <li><a class="dropdown-item" routerLink="animated-videos"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Animated
                                                Videos</a>
                                        </li>
                                        <li><a class="dropdown-item" routerLink="graphics-infographic"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Graphic &
                                                Infographic</a></li>
                                        <li><a class="dropdown-item" routerLink="illustration" data-bs-toggle="collapse"
                                                data-bs-target="#navbarNav">Illustration</a></li>
                                        <li><a class="dropdown-item" routerLink="power-point-design"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">PowerPoint
                                                Design</a></li>
                                    </ul>
                                </div>
                            </a>
                            <a class="nav-link">
                                <div class="dropdown dropdown1">
                                    <a class="nav-link dropdown-toggle dropDownLink" data-bs-toggle="dropdown">Mobile
                                        App Development</a>
                                    <ul class="dropdown-menu dropdown11">
                                        <li><a class="dropdown-item" routerLink="android-app-development"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Android App
                                                Development</a></li>
                                        <li><a class="dropdown-item" routerLink="app-store-optimization"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">App Store
                                                Optimization</a></li>
                                        <li><a class="dropdown-item" routerLink="mobile-game-development"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Mobile Game
                                                Development</a></li>
                                        <li><a class="dropdown-item" routerLink="ios-app-development"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Ios App
                                                Development</a></li>
                                    </ul>
                                </div>
                            </a>
                            <a class="nav-link">
                                <div class="dropdown dropdown1">
                                    <a class="nav-link dropdown-toggle dropDownLink" data-bs-toggle="dropdown">Web
                                        Development</a>
                                    <ul class="dropdown-menu dropdown11">
                                        <li><a class="dropdown-item" routerLink="content-management"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Content
                                                Management Service</a></li>
                                        <li><a class="dropdown-item" routerLink="ecommerce-website-development"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Ecommerce Website
                                                Development</a></li>
                                        <li><a class="dropdown-item" routerLink="api-development"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Api
                                                Development</a>
                                        </li>
                                        <li><a class="dropdown-item" routerLink="landing-page-design"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Main-site OR
                                                Landing Page
                                                Design</a></li>
                                    </ul>
                                </div>
                            </a>
                            <a class="nav-link">
                                <div class="dropdown dropdown1">
                                    <a class="nav-link dropdown-toggle dropDownLink" data-bs-toggle="dropdown">Digital
                                        Marketing</a>
                                    <ul class="dropdown-menu dropdown11">
                                        <li><a class="dropdown-item" routerLink="social-media-marketing"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Social
                                                Media Marketing</a></li>
                                        <li><a class="dropdown-item" routerLink="social-media-optimization"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Social Media
                                                Optimization</a></li>
                                        <li><a class="dropdown-item" routerLink="email-marketing"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Email
                                                Marketing</a>
                                        </li>
                                        <li><a class="dropdown-item" routerLink="content-marketing"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Content
                                                Marketing</a></li>
                                        <li><a class="dropdown-item" routerLink="best-seo-services-in-kolkata"
                                                data-bs-toggle="collapse" data-bs-target="#navbarNav">Search
                                                Engine Optimization</a></li>
                                    </ul>
                                </div>
                            </a>
                            <a class="nav-link" href="#">
                                <div class="dropdown dropdown1">
                                    <a class="nav-link dropdown-toggle dropDownLink" data-bs-toggle="dropdown"
                                        href="#">Othres
                                        Services</a>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="projects" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="associates" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav">Our Associates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="blogs" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="career" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav">Contact</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>



<!-- navbar section end here -->

<!-- 

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

 -->