/* header section start here */
.headerBackGround {
    background: #0e1032;
}

.headerSection {
    display: flex;
    justify-content: space-between;
}

.leftText p {
    color: #fff;
    padding-top: 10px;
    font-size: 18px;
}

.rightHeader {
    display: flex;
}

.rightHeader .icon {
    padding: 15px 10px 15px 0px;
}

.rightHeader .icon a {
    background: #fff;
    padding: 5px 6px;
    margin-right: 5px;
    border-radius: 50%;
    transition: all 0.6s;
}

.rightHeader .icon a:hover {
    background: #ef4136;
}

.rightHeader .icon a i {
    width: 17px;
    height: 10px;
    color: #000;
    transition: all 0.6s;
}

.rightHeader .icon a i:hover {
    color: #fff;
}

.rightHeader .text {
    background: #ef4136;
    width: 200px;
    display: flex;
    align-items: center;
}

.rightHeader .text p {
    color: #fff;
    padding-left: 25px;
    padding-top: 12px;
    font-weight: 600;
}

.headerButtom {
    background: #fff;
    display: block;
    height: 90px;
    max-height: 100%;
    padding: 16px 7px 0px 7px;
    border-bottom: 1px solid #8787874f;
}

.logo {
    padding: 0px 25px;
}

.logo img {
    width: 135px;
}

.contactIcon ul {
    display: flex;
    justify-content: space-between;
}

.contactIcon ul li {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.icon_1 img {
    padding: 7px 15px 0px 0px;
}

.contactIcon .contact {
    line-height: 10px;
}

.contactIcon .contact h6 {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.contactIcon .contact p {
    color: #000000d1;
    font-size: 14px;
}

@media only screen and (max-width: 769px) {
    .rightHeader {
        display: none;
    }

    .contactIcon ul {
        display: none;
    }
}

/* header section end here */

/*  navbar section start here */



.fixed {
    position: fixed;
    /* width: 100%; */
    transition: 1.9s;
    top: 0px;
}



/* .nofixed{
     position: static;
     transition: 0.4s  linear;
     height: 100px;
 }
  */


.navbarBackGround {
    width: 100%;
    height: 70px;
    background: #fff;
    z-index: 1;
    left: 0;
}

.styleNavbar ul {
    padding: 8px;
}

/* onScroll css */
.padding .listPadding {
    padding-left: 100px;
}

.styleNavbar ul li {
    margin-right: 10px;
}

.styleNavbar ul li a {
    color: #131313;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.6s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.styleNavbar ul li a:hover {
    color: #ef4136;
}

.dropDownLink {
    padding: 0px 16px !important;
}

.dropdown1 {
    position: relative;
}

.dropdown11 {
    position: absolute;
    top: 5%;
    left: 110%;
}



@media only screen and (max-width: 769px) {
    #navbarNav {
        text-align: center;
    }

    .navbarBackGround {
        height: auto;
    }

    .padding .listPadding {
        padding-left: 0px;
    }

}

@media only screen and (max-width: 767px) {
    .dropdown1 {
        position: relative;
    }

    .dropdown11 {
        position: absolute;
        top: 70%;
        left: 10%;
    }
}


/*  navbar section end here */
