<!-- footer section start here -->
<div class="footerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="leftFooter">
          <img src="../../assets/images/logo.png" alt="footer">
          <p class="text1">We'd love to hear from you and learn all about your business & website goals.</p>
          <div class="footerIcon">
            <a style="background: #34B7F1 ;" href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            <a style="background: #3b5998 ;padding: 10px 14px;" href=""><i class="fa fa-facebook"
                aria-hidden="true"></i></a>
            <a style="background: #00acee ;" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a style="background: #d62976 ;" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a style="background: #0A66C2 ;" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="midFooter">
          <h3>Useful Link</h3>
          <ul>
            <a href="">
              <li>About Us</li>
            </a>
            <a href="">
              <li>Pricing</li>
            </a>
            <a href="">
              <li>Our Associates</li>
            </a>
            <a href="">
              <li>Our Team</li>
            </a>
            <a href="">
              <li>Blogs</li>
            </a>
            <a href="">
              <li>Contact</li>
            </a>

          </ul>
        </div>
      </div>
      <div class="col-lg-3 mr-3">
        <div class="midFooter">
          <h3>Our Services</h3>
          <ul>
            <a href="">
              <li>Social media marketing</li>
            </a>
            <a href="">
              <li>Social media optimization</li>
            </a>
            <a href="">
              <li>Api development</li>
            </a>
            <a href="">
              <li>Android app development</li>
            </a>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="rightFooter">
          <h3>Address</h3>

          <div class="footerEmail">
            <div>
              <i class="fas fa-envelope"></i>
            </div>
            <div>
              <h3>Email</h3>
              <p>info@devantitsolutions.com</p>
            </div>
          </div>
          <div class="footerEmail">
            <div>
              <i class="fas fa-building"></i>
            </div>
            <div>
              <h3>OFFICE</h3>
              <p>info@devantitsolutions.com</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- footer section end here -->

<!-- footer button section start here -->

<div class="footerButton">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="copyRightText">&copy; Copyright © 2020 DITS . All Rights Reserved. <span
            style="color:#ef4136;font-weight:700;">DITS</span>
        </p>
      </div>
      <div class="col-lg-6">
        <div class="footerButtonText">
          <p><a href="">Home</a></p>
          <p><a href="">T & C</a></p>
          <p><a href="">PrivacyPolicy</a></p>
          <p><a href="">Refund Policy</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer button section end here -->

