<!-- ************************************ -->



<div class="blogSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Blogs Page</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of
                        services
                        for businesses that prefer <br> to manage all their technology needs in</p>
                </div>
            </div>
        </div>
    </div>



    <div class="container mt-5">
        <div class="blogCardSection">
            <h4>___Our Blogs___</h4>
            <h5>Latest Valuable Insights</h5>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="blogCardStyle" data-aos="fade-up"
                        data-aos-duration="1000">
                        <img src="../../assets/images/BlogsImags/BLOG-THUMBNAIL-DEVANT-.png" alt="img">
                        <h5><a href="">Rules for Naming a Startup</a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blogCardStyle" data-aos="fade-up"
                        data-aos-duration="1000">
                        <img src="../../assets/images/BlogsImags/hk1200.jpg" alt="img">
                        <h5><a href="">What Is an Affiliate Website?</a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blogCardStyle" data-aos="fade-up"
                        data-aos-duration="1000">
                        <img src="../../assets/images/BlogsImags/LEARNING-MANAGEMENT-SYSTEM-01.png" alt="img">
                        <h5><a href="">Online Learning Platform – Learning Management System</a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blogCardStyle" data-aos="fade-up"
                        data-aos-duration="1000">
                        <img src="../../assets/images/BlogsImags/sb-1.jpg" alt="img">
                        <h5><a href="">Learn How to Build an E-Commerce App from Scratch</a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blogCardStyle" data-aos="fade-up"
                        data-aos-duration="1000">
                        <img src="../../assets/images/BlogsImags/What-Is-a-Sitemap-1.png" alt="img">
                        <h5><a href="">What Is a Sitemap?</a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blogCardStyle" data-aos="fade-up"
                        data-aos-duration="1000">
                        <img src="../../assets/images/BlogsImags/WhatsApp-Image-2021-06-24-at-2.04.25-PM.jpeg"
                            alt="img">
                        <h5><a href="">How Google Indexes Web Pages?</a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blogCardStyle" data-aos="fade-up"
                        data-aos-duration="1000">
                        <img src="../../assets/images/BlogsImags/WhatsApp-Image-2021-07-09-at-8.02.47-PM.jpeg"
                            alt="img">
                        <h5><a href="">Content Management System</a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blogCardStyle" data-aos="fade-up"
                        data-aos-duration="1000">
                        <img src="../../assets/images/BlogsImags/WhatsApp-Image-2021-07-15-at-1.24.58-PM.jpeg"
                            alt="img">
                        <h5><a href="">Why SEO is important for marketing and branding efforts?</a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blogCardStyle" data-aos="fade-up"
                        data-aos-duration="1000">
                        <img src="../../assets/images/BlogsImags/WHY-SEO-01.png" alt="img">
                        <h5><a href="">Benefits of Using Twitter</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

