<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Ios App Development</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of
                        services for businesses that prefer <br> to manage all their technology needs in</p>
                </div>
            </div>
        </div>
    </div>



    <div class="graphicCardSection mt-5">
        <div class="heading">
            <h4>___Ios App Development___</h4>
            <h3>Grow Your Business With Our Agency</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/appstore.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/appstore1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cardText">
                        <p>Mobile apps play a very crucial role in daily life of society and have created a huge demand
                            for apps used to achieve miscellaneous ends. Apart from its wide availability worldwide,
                            Apple is continuously making inroads in the wider section of Indian markets. We at Devant IT
                            Solutions build iOS apps focusing on the specific requirements of our clients. Our services
                            in iOS app development aim to integrate various aspects of the process from app development
                            to deployment. Apple is continuously aspiring to upgrade technology. Our professionals keep
                            themselves well-informed in terms of these updates and can guide our clients while
                            addressing the safety and security of client information in the apps. We develop iOS apps
                            rich in features tailored to specific demands put forth by our clients. We also provide
                            assistance with consistent long-standing understanding with our clients to any glitch that
                            may have occurred after deployment of such apps.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="container">
    <div class="ourServices">
        <h3>Our Services</h3>
        <p>Devant IT Solutions, one of the android app development services in West Bengal. It has raised Brilliant
            mobile app development services like UI/UX design services, Consulting and prototyping, Automated QA
            services. </p>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>IOS App Design</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>IOS App Development</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>IOS App QA and Support</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>IOS E-commerce App</h2>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="appcardimg">
                <img src="../../../assets/images/graphicsImg/appImage2.jpg" alt="img">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>