<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Animated Videos</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of
                        services for businesses that prefer <br> to manage all their technology needs in</p>
                </div>
            </div>
        </div>
    </div>



    <div class="graphicCardSection mt-5">
        <div class="heading">
            <h4>___Animated Videos___</h4>
            <h3>Grow Your Business With Our Agency</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cardStyle">
                        <!-- <img src="../../../assets/images/graphicsImg/5a.jpg" alt=""> -->
                        <video controls src="../../../../assets/images/graphicsImg/devant12.mp4"></video>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="cardText">
                        <p>Animated video is an exciting and novel way to introduce your product, brand or enterprise to a large cross-section of population. In a video with real people, the intended message about the product may get muddled due to a variety of reasons. Animated video helps to avoid this by accessing larger proportions of emotive cognition. Being SEO-friendly, it improves the visibility of a website or platform in Google search results giving exposure to an enlarged potential client-base. It also brings an improved conversion rate especially with mobile-friendly short animation videos which can get its message across even in silent mode with a minimum of time. We at Devant IT Solutions aspire to provide you with tailor-made animation videos which can present your brand, enterprise or product in a number of social media platforms apart from your own website. This helps in boosting the market presence with a consequent positive result in terms of revenues.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>


