<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Content Marketing</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of
                        services for businesses that prefer <br> to manage all their technology needs in</p>
                </div>
            </div>
        </div>
    </div>



    <div class="graphicCardSection mt-5">
        <div class="heading">
            <h4>___Content Marketing___</h4>
            <h3>Grow Your Business With Our Agency</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/07.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/08.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cardText">
                        <p>It is acknowledged in social philosophy that language predetermines many aspects of our daily
                            existence by conditioning how we interact. Content marketing provides this essential
                            language of one’s brand in the digital market, so central to engagement with the target
                            audience. Content in this vein is said to be the king of virtual reality, encompassing
                            blog-posts, infographics, videos, awareness campaign material as well as press releases.
                            Content Marketing plays a central role in image-building, Public Relations as well as
                            overall digital marketing strategy. Regular articles, blog posts provide such a vast space
                            for interaction with consumers that paid advertisement on its own can’t provide. It also has
                            a positive effect on online traffic improving SEO compatibility. We at Devant IT Solutions
                            understands this centrality of content marketing on its own and aspire to provide relatable,
                            regular content compatible with the overall objectives and views of our clients. Our content
                            marketing provides you with a consistent and relatable image which remains in tandem with
                            the larger social context.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>