<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Web Development Company in
                        Kolkata</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">Enhances business growth &
                        workflows with our responsive website development service
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="graphicCardSection mt-5">
        <div class="heading">
            <h4>___Web Development___</h4>
            <h3>Grow Your Business With Our Agency</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../assets/images/webDevalopmentImg/api.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../assets/images/webDevalopmentImg/api-development.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cardText">
                        <p>Application Programming Interface or API is a set of instructions, requirements that enable
                            one application to employ features of other applications with minimum effort. It is the
                            foundation for any feature of an application that deals with communication between two
                            applications. It contributes a great amount in building easy user experience without
                            involving the developers. It also brings a fundamental change in usage of data paving the
                            way for novel business models to enhance services in creative ways. We at Devant IT
                            Solutions understand these advantages of API technologies and provide our clients with
                            technical abilities to reap benefits successfully from API development. It also provides a
                            strong impetus to integration of any enterprise to the digital market. These features as
                            developed by our experienced professionals are oriented to help our client to achieve
                            commercial targets with relative ease.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <div class="ourServices">
        <h3>Our web development Services</h3>
        <p>Modern words need everything on digital platforms like apps, websites, or a social media presence. In this
            trend, a website plays a major role. Our specialization is in website design and development services. We
            have high-performing web experiences, feature-packed. Our web is designed to be user-friendly, very secure,
            and able to scale as your organization grows. Our web development service provides expert web application
            development and design. </p>
    </div>

    <div class="webDevlopmentServices mb-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="serviceCard">
                    <h4>Content Management Service</h4>
                    <p>
                        We handle all your dynamic content and the website's easy-to-use backend solutions. Websites
                        using control management are easy to update, maintain. This ultimately enhances the productivity
                        of your business.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="serviceCard">
                    <h4>API Development</h4>
                    <p>
                        We have a highly experienced web development team in APIs, custom data connectors, web services,
                        and middleware. We secure integration with third-party solutions.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="serviceCard">
                    <h4>E-Commerce Website Development</h4>
                    <p>
                        Our web development agency designed and launched multiple e-commerce websites. E-commerce is a
                        complex and difficult business. As a website development agency, we have a great depth of
                        knowledge, experience, and a track record of success. It is hard to match.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="serviceCard">
                    <h4>Landing Page Design</h4>
                    <p>
                        Our team that designs the landing page of the websites that are displayed on the internet is
                        unique from others. Thus you can customize our feature to your services, products.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="webDevlopmentServices mb-4">
            <h2>Why is a website important to grow your business?</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="serviceCard">
                        <h4>Get your client online</h4>
                        <p>
                            Through a website, you can get new clients online. It helps your business. A website can
                            grow your business not only for the people who follow you but also for the new customers who
                            are looking for solutions on search engines.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="serviceCard">
                        <h4>Build online credibility</h4>
                        <p>
                            Suppose, if you gain huge success on your Instagram with your photography or any talent and
                            want to show your profile in front of a big brand where you refer to them? For this, you
                            have to need a professional website where your work, testimonials, and who you are can be
                            seen. Thus a website can help you to build credibility.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="serviceCard">
                        <h4>Create new streams of income</h4>
                        <p>
                            A website makes a new source of income by selling digital products, Blogging & affiliate
                            marketing, etc.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="serviceCard">
                        <h4>Cultivate trust for your business:</h4>
                        <p>
                            If you want to build a connection with your clients you have to share blogs regularly about
                            your work. Thus you can earn customers' trust.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">

            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2> A proficient method of web design and development</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2> Experts & specialized Developers</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2> Friendly communication with clients</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2> 100% Client Satisfaction</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2> Fast development time</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2> Affordable service price</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2> Work with the latest technology</h2>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="appcardimg">
                <img src="../../../assets/images/webDevalopmentImg/webDevelopment.jpg" alt="img">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>