<!-- ************************************ -->

<div class="associatesHeaderSection">
    <div class="container-fluid p-0">
        <div class="associatesBackgroundImage">
            <div class="associatesBackColor">
                <div class="associates">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s"> Our Project</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of services
                        for businesses that  prefer to manage  <br>all  their technology needs in one place</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="projectHeading">
        <h5>___Our Projects___</h5>
        <h3>Our Awesome Works</h3>

        <div class="allProject">
            <!-- <label for="">Select Project : </label>
            <select name="" id="">
                <option value="all">All</option>
                <option value="graphic_dedign">Graphic Design</option>
                <option value="web_development">Web Development</option>
                <option value="mobile_app_development">Mobile App Development</option>
                <option value="mobile_app_development">Marketing Analysis</option>
            </select> -->

            <div class="dropdown mb-4">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown">
                    Select Project
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">All</a></li>
                    <li><a class="dropdown-item" href="#">Web Development</a></li>
                    <li><a class="dropdown-item" href="#">Mobile App Development</a></li>
                    <li><a class="dropdown-item" href="#">Marketing Analysis</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="projectImages">
                <img src="../../assets/images/ProjectImages/all_images/item_01.jpg" alt="img">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="projectImages">
                <img src="../../assets/images/ProjectImages/all_images/item_02.jpg" alt="img">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="projectImages">
                <img src="../../assets/images/ProjectImages/all_images/item_03.jpg" alt="img">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="projectImages">
                <img src="../../assets/images/ProjectImages/all_images/item_04.jpg" alt="img">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="projectImages">
                <img src="../../assets/images/ProjectImages/all_images/item_05.jpg" alt="img">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="projectImages">
                <img src="../../assets/images/ProjectImages/all_images/item_06.jpg" alt="img">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="projectImages">
                <img src="../../assets/images/ProjectImages/all_images/item_07.jpg" alt="img">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="projectImages">
                <img src="../../assets/images/ProjectImages/all_images/item_08.jpg" alt="img">
            </div>
        </div>
    </div>
</div>



<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>
