<!-- ***************************************************** -->

<div class="contactSection">
     <div class="contactBackgroundImage">
          <div class="contactBackColor">
               <div class="contact">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Contact Page</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">Thank you for visiting, Don`t
                         hesitate to contact us.We Would Love To Hear From You!</p>
               </div>
          </div>
     </div>

     <div class="container mt-5">
          <div class="row">
               <div class="col-lg-6">
                    <div class="leftContact">
                         <h4>___Contact Us With Ease</h4>
                         <h2>Get in Touch</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                              labore et dolore magna aliqua. ut enim ad minim veniam.</p>
                    </div>
               </div>
               <div class="col-lg-6">
                    <div class="rightContact mb-3">
                         <div style="display: flex;">
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                              <h3>Office Location</h3>
                         </div>
                         <p>7/9 Poddar Nagar 1st floor, Near South City, Kolkata 700068, Land Mark - Poddar Nagar High
                              School</p>
                    </div>
                    <div class="rightContact mb-3">
                         <div style="display: flex;">
                              <i class="fa fa-commenting" aria-hidden="true"></i>
                              <h3>Contact</h3>
                         </div>
                         <p>info@devantitsolutions.com, Land Number: (+033) 4065 8041 Mobile: (+91) 81003 50005</p>
                    </div>
                    <div class="rightContact mb-3">
                         <div style="display: flex;">
                              <i class="fa fa-clock-o" aria-hidden="true"></i>
                              <h3>Hours of Operation</h3>
                         </div>
                         <p>Monday to Saturday</p>
                         <p>11.00 AM – 8.00PM</p>
                    </div>
               </div>
          </div>
     </div>
</div>



<!-- mapsection start here -->
<div class="mapSection mt-4">
     <div class="map">
          <iframe
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.080505544411!2d88.36325381430247!3d22.5011624852196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0271aade5fc2cb%3A0x5d499db270f261d1!2sDevant%20IT%20Solutions%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1676287230681!5m2!1sen!2sin"
               width="100%" height="485" style="border:0;" allowfullscreen="" loading="lazy"
               referrerpolicy="no-referrer-when-downgrade"></iframe>

          <div class="container">
               <div class="row">
                    <div class="col-lg-4">
                         <div class="contactForm">
                              <h5>__Need help ?</h5>
                              <h3>Contact Us</h3>
                              <form>
                                   <div>
                                        <label class="custom-field three">
                                             <input type="text" name="name" placeholder="Name">
                                             <span class="border"></span>
                                        </label>
                                   </div>
                                   <div>
                                        <label class="custom-field three">
                                             <input type="text" name="email" placeholder="Email*">
                                             <span class="border"></span>
                                        </label>
                                   </div>
                                   <div>
                                        <label class="custom-field three">
                                             <input type="text" name="phone" placeholder="Phone">
                                             <span class="border"></span>
                                        </label>
                                   </div>
                                   <div>
                                        <textarea name="textDesc" placeholder="Tell me about Courses*"></textarea>
                                   </div>

                                   <button class="btn" id="submitBtn">Send Message</button>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<!-- mapsection end here -->