<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">App Store Optimization</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of
                        services for businesses that prefer <br> to manage all their technology needs in</p>
                </div>
            </div>
        </div>
    </div>



    <div class="graphicCardSection mt-5">
        <div class="heading">
            <h4>___App Store Optimization___</h4>
            <h3>Grow Your Business With Our Agency</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/appstoreopt.jpg" alt="img">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/appstoreopt1.jpg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cardText">
                        <p>App Store Optimization is rather new specialty in digital business strategies. Today, app market presents a growing commoditization with competition among almost three million different apps for their respective niches in digital business. With growing complexities in this continuously enlarging market, it has become imperative for businesses to use definitive market factors to improve the visibility of the product and to increase the number of downloads. We at Devant IT Solutions aspire utilize these factors to bolster any application with necessary market analysis. It also provides a way to garner positive reviews of the brand or the app with greater engagement with audience. Apart from this, it also provides for diverse marketing opportunities with additional marketing channels. Though it is new, App Store Optimization can give an additional edge in marketplace for our client’s product with continuously developing techniques and tips.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>
