<!-- ************************************ -->

<div class="associatesHeaderSection">
    <div class="container-fluid p-0">
        <div class="associatesBackgroundImage">
            <div class="associatesBackColor">
                <div class="associates">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">About Us</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">One Stop Destination
                        For Comprehensive Web Solutions</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="aboutLeftSection">
                <h2>About Us</h2>

                <div data-aos="fade-up" data-aos-duration="1000">
                    <p>Devant IT Solutions PVT LTD, a company since 2018, serves more than 190+ happy customers. We are
                        here
                        for brand building and growing your quality advertisement. To fit in the competitive world, our
                        marketing team helps to spread awareness and promotion of our services to the customers.</p>

                    <p>We fulfill our targets and focus more on technical skills with our team of professionals.</p>

                    <p>Our services are like graphic design, IOS app development, API development, content management
                        service, email marketing, SEO, SMM, Google Paid Promotion, app development, web design, and
                        development.
                    </p>

                    <p>We give our clients a satisfactory results through Social media platforms for digital promotion
                        and
                        branding. We received honest customer feedback in an effective way of advertising. We reach our
                        target audience in the fastest way to implement the awareness in a short period.</p>

                    <p>We offer you all kinds of web development, technology, digital solutions for branding and
                        advertisement.</p>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="scrollCard">
    <div class="container">
        <h2 class="advisorText">__Our Advisor__</h2>
        <div class="row">
            <div class="col-lg-8">
                <div class="styleScrollCard">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="advisorCard">
                                    <div class="scrollImgStyle">
                                        <img src="../../assets/images/scrollImg/saptarshi das.jpg" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="scrollTextCard">
                                        <div class="scrollText">
                                            <p class="name">Saptarshi Das</p>
                                            <h5>Chief Advisor University Of Vienna, Iit Bombay.</h5>
                                            <p class="desc">The need for cleaner energy and better education is what
                                                drives Saptarshi. He believes that technology, in particular, artificial
                                                intelligence (AI)....</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="advisorCard">
                                    <div class="scrollImgStyle">
                                        <img src="../../assets/images/scrollImg/manjistha roy.jpg" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="scrollTextCard">
                                        <div class="scrollText">
                                            <p class="name">Manjistha Roy</p>
                                            <h5>Chief Consultant
                                                Indian Institute Of Technology, Bombay.</h5>
                                            <p class="desc">Experienced Assistant Manager with a demonstrated history of
                                                working in the information technology and services industry. Skilled in
                                                Business Analytics....</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="advisorCard">
                                    <div class="scrollImgStyle">
                                        <img src="../../assets/images/scrollImg/himadry roy.jpg" class="d-block w-100"
                                            alt="...">
                                    </div>
                                    <div class="scrollTextCard">
                                        <div class="scrollText">
                                            <p class="name">Himadri Roy, MBA</p>
                                            <h5>Chief Functional Advisor Indian Institute Of Finance.</h5>
                                            <p class="desc">A dynamic result oriented professional with more than 18
                                                years of experience in Asset Management and New age technologies. He has
                                                started India’s first Intelligence....</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="advisorCard">
                                    <div class="scrollImgStyle">
                                        <img src="../../assets/images/scrollImg/partha majumdar.jpeg"
                                            class="d-block w-100" alt="...">
                                    </div>
                                    <div class="scrollTextCard">
                                        <div class="scrollText">
                                            <p class="name">Partha Sarathi Majumdar</p>
                                            <h5>Chief Financial Adviser.</h5>
                                            <p class="desc">Post graduate in commerce from kolkata university, joined
                                                union bank of india in 1976. Worked as officer in Audit & inspection for
                                                9 years. Credit manager for 4 years.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="advisorCard">
                                    <div class="scrollImgStyle">
                                        <img src="../../assets/images/scrollImg/amit_mukherjee.png"
                                            class="d-block w-100" alt="...">
                                    </div>
                                    <div class="scrollTextCard">
                                        <div class="scrollText">
                                            <p class="name">Amit Mukherjjee</p>
                                            <h5>Chief Adminstrative Officer.</h5>
                                            <p class="desc">Business Management, Inventory & Credit Control, Accounts
                                                CFA Operations, People Development, Market analysis, Deployment,
                                                Recruitment, Training etc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="styleScrollCard2">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="rightScrollText">
                                    <h4>Our Mission</h4>
                                    <p class="missionText"> We give priority to the satisfaction of our clients. Once we
                                        are bound in
                                        contracts
                                        with our clients we try our level best to keep the relationship stronger with
                                        our
                                        clients. We leave no room for complaints from our clients. We serve them in the
                                        best
                                        possible way. Our Mission includes:</p>

                                    <div class="missionText2">
                                        <div style="display: flex;">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <p> Providing utmost priority to our client’s requirements and
                                                specifications.
                                            </p>
                                        </div>
                                        <div style="display: flex;">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <p> Furnishing timely delivery of projects.
                                            </p>
                                        </div>
                                        <div style="display: flex;">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <p> Maintaining sheer quality of projects.
                                            </p>
                                        </div>
                                        <div style="display: flex;">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <p> Assisting our clients with 24X7 support system.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="rightScrollText">
                                    <h4>Our Vision</h4>
                                    <p class="missionText">With new applications coming into the forefront each day, it
                                        is very important
                                        that
                                        you remain high on the surge in this competitive market. Our specialized and
                                        expert
                                        team helps our clients to maintain this dignity and distinctiveness in this era
                                        of
                                        globalization.</p>

                                    <div class="missionText2">
                                        <div style="display: flex;">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <p> We aim at to be an unparalleled and an ace in IT field. </p>
                                        </div>
                                        <div style="display: flex;">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <p>We fixate to stay spruced up with the latest enhanced technologies.</p>
                                        </div>
                                        <div style="display: flex;">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <p> We offer feasible and cost-effective solution. </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- work process start here -->
<div class="container">
    <div class="workProcess">
        <p class="processText">__Our Work Process</p>
        <!-- <h1 data-aos="fade-right" data-aos-duration="1000">Simple & Clean Work Process</h1> -->
        <h1>Simple & Clean Work Process</h1>

        <div class="row">
            <div class="col-lg-3">
              <div class="successCard" data-aos="fade-right" data-aos-duration="1000">
                <div class="successCardHead">
                  <div class="successCardImg">
                    <img src="../../assets/images/successCardImg/settings.png" alt="">
                  </div>
                  <div class="successStep">
                    <p>Step - 1 </p>
                  </div>
                </div>
                <div class="successCardText">
                  <h4>Frame the Problem</h4>
                  <p>The first stage in any IT solutions is meaningful, exhaustive and elaborate consultation between client
                    and the service provider This is pivotal in developing a synergy between the business goals and...<span><a
                        style="text-decoration: none;color: #000;font-weight: 600;" href="">Read More</a></span></p>
      
                </div>
      
              </div>
            </div>
            <div class="col-lg-3">
              <div class="successCard" data-aos="fade-right" data-aos-duration="1000">
                <div class="successCardHead">
                  <div class="successCardImg">
                    <img src="../../assets/images/successCardImg/settings.png" alt="">
                  </div>
                  <div class="successStep">
                    <p>Step - 2 </p>
                  </div>
                </div>
                <div class="successCardText">
                  <h4>Collect the Raw Data </h4>
                  <p>The nature and quantity of raw data varies according to the ‘problem’ set up as above. It includes
                    aggregate data regarding online product environment as well as audience behavior in online platforms. This
                    is...<span><a style="text-decoration: none;color: #000;font-weight: 600;" href="">Read More</a></span></p>
      
                </div>
      
              </div>
            </div>
            <div class="col-lg-3">
              <div class="successCard" data-aos="fade-left" data-aos-duration="1000">
                <div class="successCardHead">
                  <div class="successCardImg">
                    <img src="../../assets/images/successCardImg/settings.png" alt="">
                  </div>
                  <div class="successStep">
                    <p>Step - 3 </p>
                  </div>
                </div>
                <div class="successCardText">
                  <h4>Process the Data</h4>
                  <p>Data itself is never knowledgeable. It is evaluated based on established quantitative benchmarks to
                    produce concrete understanding of the raw data In IT solutions also, data is processed and this helps in
                    understanding...<span><a style="text-decoration: none;color: #000;font-weight: 600;" href="">Read
                        More</a></span></p>
      
                </div>
      
              </div>
            </div>
            <div class="col-lg-3">
              <div class="successCard" data-aos="fade-left" data-aos-duration="1000">
                <div class="successCardHead">
                  <div class="successCardImg">
                    <img src="../../assets/images/successCardImg/settings.png" alt="">
                  </div>
                  <div class="successStep">
                    <p>Step - 4 </p>
                  </div>
                </div>
                <div class="successCardText">
                  <h4>Explore the Data</h4>
                  <p>Once the collected raw data is separated in different aspects of the problem, these categories are used
                    in further exploration of the collected data in the same axis. This gives depth to our existing knowledge
                    on...<span><a style="text-decoration: none;color: #000;font-weight: 600;" href="">Read More</a></span></p>
                </div>
      
              </div>
            </div>
      
          </div>

    </div>
</div>

<!-- work process end here -->



<!-- company overview Section start hare -->

<div class="container">
    <div class="overViewSection">
        <p class="headText">We Started with a simple idea.</p>
        <h2>Company <span style="color: #ef4136;">Overview</span></h2>

        <div class="row">
            <div class="col-lg-7">
                <div class="leftRivew">

                    <div class="leftText" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
                        data-aos-duration="1000">
                        <p>Copious is WP Aliquam ultrices venenatis mauris. Vestibulum ante ipsum primis in that
                            faucibus orci luctus et.</p>
                        <p>Aliquam ultrices venenatis mauris. Aliquam ultrices venenatis mauris. Vestibulum industry,
                            logistics, finance, business, power Aliquam ultrices venenatis mauris. industry, logistics,
                            finance, business, Power mauris Lorem ipsum dolor sit amet, consectetur.</p>
                        <p>Vestibulum industry, logistics, finance, business, power Aliquam ultrices venenatis mauris.
                            industry, logistics, finance, business, consectetur.</p>
                    </div>

                    <div class="leftRivewCard">
                        <p>Copious is WP Aliquam ultrices venenatis mauris. Vestibulum ante ipsum primis in that
                            faucibus orci luctus et.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="rightView" data-aos="fade-left" data-aos-duration="1000">
                    <img src="http://wahabali.com/work/copious/images/finance/about_us-page.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- company overview Section end hare -->



<div class="container mt-5">
    <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/aboutImages/duckBack.jpg" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/aboutImages/HIM.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/aboutImages/hospital.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/aboutImages/icare.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/aboutImages/me.jpg" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>