<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Ecommerce Website Development
                    </h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of
                        services for businesses that prefer to manage all their technology needs in
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="graphicCardSection mt-5">
        <div class="heading">
            <h4>___Content Management System___</h4>
            <h3>Grow Your Business With Our Agency</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/content-management.jpg" alt="img">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/content-manegment1.jpg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cardText">
                        <p>The length and breadth of marketplace have exceeded all expectations in this decade. Virtual
                            market or E-commerce has contributed much in this expansion. The most efficient way to
                            showcase one’s products in this digital era is by the means of an e-commerce website. This
                            website occupies a central role in driving sales growth, online traffic and conversion rates
                            to a higher level. We at Devant IT Solutions understand this significance of e-commerce
                            website development and aspire to provide a website which is instrumental in drawing
                            revenues to the enterprise of our client. Data, design and technology are seamlessly
                            interwoven to provide a fluid yet engaging e-commerce website, which enhances users’ ease
                            and also augments their experience in the digital arena. Our work aspires to make our
                            clients’ website unique to stand out among the host of websites available online. The design
                            and aesthetics of e-commerce websites are determined with extensive discussions with clients
                            to make it compatible with financial aims. Our service provides all up-to-date features like
                            payment gateway, order status tracking, SEO compatibility with usage of latest technology.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <div class="ourServices">
        <h3>Our Services</h3>
        <p>The process in which one can build an e-commerce store where products are available and structured an online
            retail business is called Ecommerce development. Ecommerce development also ensures and worked on proper
            marketing and customer communication. Devant It solutions provide the best website development service in
            West Bengal.</p>
    </div>

    <div class="row">
        <div class="col-lg-5">

            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>E-commerce Strategy & Consultation</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Custom e-commerce development solutions</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>E-commerce Platform Migration</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Secure (HTTPS) website</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Superior Order Management Solutions</h2>
            </div>

        </div>
        <div class="col-lg-7">
            <div class="ourBenefits">
                <h3>Who We Are?</h3>
                <p>Devant IT Solutions is the best website development company in West Bengal. On the website, there are
                    Data, design, and technology which helps to engage our clients and enhances users to work in this
                    digital world. We dedicated our work to make our customer's websites unique and thus competes with
                    others. The designs of the ecommerce website development are discussed with our clients earlier so
                    that it meets up financial needs and in an easy way.
                </p>
            </div>
            <div class="ourBenefits">
                <h3>Why choose us?</h3>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> Provides Up to date features in our services.</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2>Have the latest technology which is SEO friendly</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2>Optimized websites creation</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2>Top-notch developers</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> User-friendly.</h2>
                </div>

            </div>

        </div>
    </div>

</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="ourBenefitsEcommarce">
                <h3>Benefits of Developing an E-Commerce Website</h3>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> It helps us to know more what happens around us.</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> Meets the entire needs of the customers what they want.</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> Strengthen the Visibility of the website.</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> Provides all the information with details.</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2>There are no time limitations.</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2>User-friendly features are available.</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> Helps to manage Easy Inventory control.</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> Helps in the benefit of the business.</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <p class="EcommarceText">Devant IT Solutions is a top eCommerce website development company. There are various platforms of eCommerce development expertise. There are multiple platforms where we can build online stores. These platforms are:</p>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Core PHP</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Magento</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2> CodeIgniter Laravel</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2> Shopify</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2> WooCommerce</h2>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>