<!-- ************************************ -->

<div class="careerSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Careers Page</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">Become a part of our big family
                        to
                        inspire and get inspired by professional experts.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- careers form section  -->

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-5">
                <div class="formImg mb-4">
                    <div class="imageBackColor">
                        <!--  -->
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="formSection">
                    <div class="nameEmail">
                        <input style="margin-right: 12px;" type="text" placeholder="Name *">
                        <input type="email" placeholder="Email *">
                    </div>
                    <div>
                        <input type="text" placeholder="Your Phone *">
                    </div>
                    <div>
                        <select name="" id="">
                            <option value="">Please Select Job Title</option>
                            <option value="">PHP (Laravel Framework)</option>
                        </select>
                    </div>
                    <div>
                        <select name="" id="">
                            <option value="">Please Select Experience Level</option>
                            <option value="">1 - 2 Years</option>
                        </select>
                    </div>
                    <div>
                        <input type="file">
                    </div>

                    <div class="buttonForm">
                        <button class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>