/* ************************************************** */

.careerSection {
    margin-top: -70px;
    z-index: -1px;
}

.careersBackgroundImage {
    background-image: url('../../assets/images/contactImages/25.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    position: relative;
}

.careersBackColor {
    position: absolute;
    background: #00000091;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 140px 0px 0px 0px;
}

.careers h1 {
    text-align: center;
    font-size: 53px;
    font-family: 'ABeeZee', sans-serif;
    color: #fff;
    font-weight: 600;
}

.careers p {
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-family: 'ABeeZee', sans-serif;
}



/* ******************** */
.formImg {
    background-image: url('../../assets/images/contactImages/windows-5EQkyNai6L0-unsplash1.jpg');
    width: 90%;
    height: 489px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.imageBackColor {
    width: 100%;
    height: 100%;
    background: #0e103269;
    top: 0px;
}

.formSection {
    background: #ef4136;
    padding: 15px 30px;
}

.formSection div {
    padding-bottom: 8px;
}

.formHeading h3 {
    text-align: center;
    color: #fff;
    padding-bottom: 8px;
}

.formSection .nameEmail {
    display: flex;
}

.nameEmail .name {
    width: 50%;
    margin-right: 10px;
}

.nameEmail .email {
    width: 50%;
    margin-left: 10px;
}


.formSection .fileField,
select {
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 15px;
    border-color: #f8f8f8;
    background-color: #f8f8f8;
    color: #878787;
    font-size: 17px;
    font-weight: 400;
    padding: 13px 12px;
    border-radius: 3px;
}

.buttonForm {
    width: 200px;
    background: #1c1e3e;
    border-radius: 4px;
}

.buttonForm button {
    color: #fff;
    font-size: 19px;
    padding: 4px 68px;
}



/* =============================================================== */



.custom-field {
    position: relative;
    font-size: 14px;
    --field-padding: 12px;
    margin-bottom: 10px;
    width: 100%;
}


.custom-field input {
    border: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    outline: none;
    width: 100%;
    font-size: 16px;
}



/* THREE */
.custom-field.three {
    --draw-duration: 0.1s;
    --draw-color: #1c1e3e;
    --draw-line-width: 2px;
    --draw-easing: linear;
}

.custom-field.three .border {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: none;
    display: flex;
    align-items: center;
    padding-left: 12px;
    borde-radius: 3px;
}

.custom-field.three .border::after,
.custom-field.three .border::before {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    border-radius: 3px;
}

.custom-field.three .border::before {
    left: 0;
    bottom: 0;
    border-right: 0px solid var(--draw-color);
    border-bottom: 0px solid var(--draw-color);
    transition:
        border 0s linear calc(var(--draw-duration) * 4),
        height var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 2),
        width var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 3);
}

.custom-field.three .border::after {
    right: 0;
    top: 0;
    border-left: 0px solid var(--draw-color);
    border-top: 0px solid var(--draw-color);
    transition:
        border 0s linear calc(var(--draw-duration) * 2),
        height var(--draw-duration) var(--draw-easing),
        width var(--draw-duration) var(--draw-easing) var(--draw-duration);
}



.custom-field.three input:focus~.border::before,
.custom-field.three input:not(:placeholder-shown)~.border::before,
.custom-field.three input.dirty~.border::before,
.custom-field.three input:focus~.border::after,
.custom-field.three input:not(:placeholder-shown)~.border::after,
.custom-field.three input.dirty~.border::after {
    width: 100%;
    height: 100%;
    border-width: var(--draw-line-width);
}

.custom-field.three input:not(:placeholder-shown)~.border::before,
.custom-field.three input.dirty~.border::before,
.custom-field.three input:focus~.border::before {
    transition-delay: 0s, var(--draw-duration), 0s;
}

.custom-field.three input:not(:placeholder-shown)~.border::after,
.custom-field.three input.dirty~.border::after,
.custom-field.three input:focus~.border::after {
    transition-delay:
        calc(var(--draw-duration) * 2),
        calc(var(--draw-duration) * 3),
        calc(var(--draw-duration) * 2);
}




@media only screen and (max-width: 769px) {
    .careerSection {
        margin-top: -55px;
    }
}

@media only screen and (max-width: 767px) {

    .careerSection {
        margin-top: -55px;
    }

    .careersBackgroundImage {
        height: 220px;
    }

    .careersBackColor {
        padding: 80px 0px 0px 0px;
    }

    .formImg {
        display: none;
    }

    .careers {
        padding: 0px 7px;
    }

    .careers h1 {
        font-size: 48px;
    }

    .careers p {
        display: none;
    }

    .formSection .nameEmail {
        display: flex;
        flex-direction: column;
    }

    .nameEmail .name {
        width: 100%;
        margin-right: 0px;
    }

    .nameEmail .email {
        width: 100%;
        margin-left: 0px;
    }

    .buttonForm {
        width: 100%;
        text-align: center;
    }
}



