<!-- ************************************ -->

<div class="careerSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Careers Page</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">Become a part of our big family
                        to inspire and get inspired by professional experts.</p>
                </div>
            </div>
        </div>
    </div>



    <!-- careers form section  -->

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="formImg mb-4">
                    <div class="imageBackColor">
                        <!--  -->
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="formSection">
                    <div class="formHeading">
                        <h3>___Careers___</h3>
                    </div>
                    <div class="nameEmail">
                        <div class="name">
                            <label class="custom-field three">
                                <input type="text" placeholder="Name *">
                                <span class="border"></span>
                            </label>
                        </div>
                        <div class="email">
                            <label class="custom-field three">
                                <input type="email" placeholder="Email *">
                                <span class="border"></span>
                            </label>
                        </div>
                    </div>

                    <div>
                        <label class="custom-field three">
                            <input type="text" placeholder="Your Phone *">
                            <span class="border"></span>
                        </label>
                    </div>
                    <div>
                        <select name="" id="">
                            <option value="">Please Select Job Title</option>
                            <option value="">PHP (Laravel Framework)</option>
                        </select>
                    </div>
                    <div>
                        <select name="" id="">
                            <option value="">Please Select Experience Level</option>
                            <option value="">1 - 2 Years</option>
                        </select>
                    </div>
                    <div>
                        <input class="fileField" type="file">
                    </div>

                    <div class="buttonForm" style="padding: 0px;">
                        <button class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 

    <label class="custom-field three">
        <input type="password" placeholder="Enter password" />
        <span class="border"></span>
    </label>
 -->


