<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Api Development</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of
                        services for businesses that prefer <br> to manage all their technology needs in</p>
                </div>
            </div>
        </div>
    </div>



    <div class="graphicCardSection mt-5">
        <div class="heading">
            <h4>___Api Development___</h4>
            <h3>Grow Your Business With Our Agency</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../assets/images/webDevalopmentImg/api.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../assets/images/webDevalopmentImg/api-development.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cardText">
                        <p>Application Programming Interface or API is a set of instructions, requirements that enable one application to employ features of other applications with minimum effort. It is the foundation for any feature of an application that deals with communication between two applications. It contributes a great amount in building easy user experience without involving the developers. It also brings a fundamental change in usage of data paving the way for novel business models to enhance services in creative ways. We at Devant IT Solutions understand these advantages of API technologies and provide our clients with technical abilities to reap benefits successfully from API development. It also provides a strong impetus to integration of any enterprise to the digital market. These features as developed by our experienced professionals are oriented to help our client to achieve commercial targets with relative ease.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>
