<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Our Logo & Corporate ID design</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of
                        services for businesses that prefer <br> to manage all their technology needs in</p>
                </div>
            </div>
        </div>
    </div>



    <div class="graphicCardSection mt-5">
        <div class="heading">
            <h4>___Logo & Corporate ID___</h4>
            <h3>Grow Your Business With Our Agency</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/clogo.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/corporate-id-design.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cardText">
                        <p>The global market today is defined by the presence of a vast, enlarged and heterogeneous client-base who often can’t be categorized on any singular marker. This vastly diverse client set makes it imperative for a business enterprise to have a consistent brand which has the ability to embed itself in the popular perception. Logo and Corporate identity design weaves the visual metaphors for any enterprise to convey its narrative and uniqueness through design intelligence. We at Devant IT Solutions aspire to make a brand with the right mixing of various components to establish a persona that is relatable as well as identifiable among the many. Symbols, calligraphy and other arts and aesthetics materials are used to help narrate the story and the vision of the enterprise with an impressive and unforgettable logo. The emotive and commercial aspects of branding are seamlessly woven together to establish brand identity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>
