<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Main-site OR Landing Page Design
                    </h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of
                        services for businesses that prefer <br> to manage all their technology needs in</p>
                </div>
            </div>
        </div>
    </div>



    <div class="graphicCardSection mt-5">
        <div class="heading">
            <h4>___Main-Site OR Landing Page Design___</h4>
            <h3>Grow Your Business With Our Agency</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/landing.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../../assets/images/graphicsImg/landing1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cardText">
                        <p>Main-site OR Landing Page Design refers to designing the page that visitors are directed
                            while looking for an enterprise or a brand. It is the most important component in conversion
                            related optimization drive as this alone can significantly affect the whole process.
                            Building a flawless, fluid and easily navigable website for any business is determined by
                            clear relatable message, engaging design and a minimum of distractions. We at Devant IT
                            Solutions aspire to provide our clients with main-site or landing page design based on the
                            demands and objectives of our clients. Our professionals carry out comprehensive user
                            analysis based on online behavior, demographics and preferences to integrate these insights
                            from analysis in designing. This process also includes comprehensive understanding of our
                            clients’ strength and weakness. On this foundation, we orient our design work to drive the
                            revenue in our client’s business higher and to deliver an optimum result.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>