<!-- ************************************ -->


<div class="associatesHeaderSection">
    <div class="container-fluid p-0">
        <div class="associatesBackgroundImage">
            <div class="associatesBackColor">
                <div class="associates">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Our Associates</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We believe our associates are our
                        greatest competitive advantage.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-5">
    <div class="associatesSection">
        <p>__Our Associates__</p>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/duckBack.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/HIM.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/hospital.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/icare.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/usha_martin.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/me.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/3.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/12.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/13.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/14.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/16.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/17.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/18.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/19.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/20.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/21.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/22.png" alt="">
            </div>
        </div>

    </div>
</div>



<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>