<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Mobile App Development</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">We deliver a full package of
                        services for businesses that prefer <br> to manage all their technology needs in</p>
                </div>
            </div>
        </div>
    </div>



    <div class="graphicCardSection mt-5">
        <div class="heading">
            <h4>___Mobile App Development___</h4>
            <h3>Grow Your Business With Our Agency</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../assets/images/graphicsImg/android-dev.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="cardStyle">
                        <img src="../../../assets/images/graphicsImg/appdevelopment1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cardText">
                        <p>While developing mobile apps, organizations target Android as it is one of the widely used
                            OS. We at Devant IT Solutions build android apps focusing on the specific requirements of
                            our clients. Our services integrate the various aspects of the required process joining
                            subsequent steps from design to development and ultimately deployment of the apps in a
                            consistent manner. Our past works in this field have also been able to add significantly to
                            the overall revenue of the enterprise. This is largely done through consistent understanding
                            of market based trends as well as innovative technological solutions providing an impressive
                            array of features. In developing android apps, we also deliver products that have easy
                            navigability for all and sundry. Apart from cost-efficient development, we also provide
                            consultations after deployment to address any glitch that may have risen. We aspire to be
                            leaders in this field of technological development and want to integrate our clients in the
                            digital mobility of our era..
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <div class="ourServices">
        <h3>Our Services</h3>
        <p>Devant IT Solutions, one of the android app development services in West Bengal. It has raised Brilliant
            mobile app development services like UI/UX design services, Consulting and prototyping, Automated QA
            services. </p>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Mobile App Design</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Mobile App Development</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Mobile App QA and Support</h2>
            </div>
            <div class="appCard">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h2>Android E-commerce app</h2>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="appcardimg">
                <img src="../../../assets/images/graphicsImg/appImage2.jpg" alt="img">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>