/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
}


::-webkit-scrollbar {
    width:5px;
}



::-webkit-scrollbar-track {
    background: #FFF;
}



::-webkit-scrollbar-thumb {
    background: #ef4136;
}

