<!-- **************************************************** -->

<!-- home section start here -->

<div class="homeSection">
  <div class="videoSection">
    <video autoplay="true" muted loop playsinline style="width: 100%">
      <source src="../../assets/videos/devant.mp4" type="video/mp4">
    </video>
    <div class="backImg"></div>

    <div class="possitionSection">

      <div class="container">
        <div class="videoText">
          <h3 class="animate__animated animate__fadeInDown animate__delay-1s"> We make IT <span
              style="color: #ef4136;font-size: 55px;">better</span></h3>
          <h4 class="animate__animated animate__fadeInLeft animate__delay-2s">One Stop Destination For
            Comprehensive Web solution</h4>
        </div>

        <div class="developSlider">
          <div class="developCard">
            <img src="../../assets/images/developImg/coding.png" alt="img">
            <h5>Web Development</h5>
          </div>
          <div class="developCard">
            <img src="../../assets/images/developImg/smartphone.png" alt="img">
            <h5>Mobile App Development</h5>
          </div>
          <div class="developCard">
            <img src="../../assets/images/developImg/graphic-designer.png" alt="img">
            <h5>Graphics Design</h5>
          </div>
          <div class="developCard">
            <img src="../../assets/images/developImg/digital-marketing.png" alt="img">
            <h5>Marketing Analysis</h5>
          </div>
        </div>

        <div class="buttonSection">
          <button class="btn btn_1"><a href="">Learn More</a></button>
          <button class="btn btn_2"><a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              Contact</a></button>
        </div>

      </div>

    </div>

  </div>
</div>



<!-- cardSection start here-->



<div class="cardTop">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="cardStyle">
          <img src="../../assets/images/cardImg/service-icon-1.png" alt="cardImg">
          <div>
            <h5>Reliable & solutions...</h5>
            <p>We believe in building and maintaining long term relationships... <span><a href="">Lern More</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="cardStyle">
          <img src="../../assets/images/cardImg/service-icon-2.png" alt="cardImg">
          <div>
            <h5>Exprienced</h5>
            <p>We are pioneer in lambasting problems like web or software development... <span><a href="">Lern
                  More</a></span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="cardStyle">
          <img src="../../assets/images/cardImg/service-icon-3.png" alt="cardImg">
          <div>
            <h5>Affordable</h5>
            <p>We have provided best plus affordable web development services to... <span><a href="">Lern
                  More</a></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- cardSection end here-->


<!-- cardImage section start here -->

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="cardStle2">
        <img src="../../assets/images/cardImg/our-company-1.png" alt="img">
        <div class="text2">
          <h1>4 <sup>+</sup></h1>
          <h5>Years Experience</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="cardStyle3 mb-4">
        <img src="../../assets/images/cardImg/our-company-2.png" alt="img">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="cardStyle4">
        <p class="card4text"> ___Know Our Company</p>
        <h2>Our Company Provide High Quality Idea</h2>
        <p class="text4">One Stop Destination For Comprehensive Web Solutions A digital house built for all, Devant IT
          Solutions Pvt. Ltd. is the leading digital agency in IT Industry. Our team is a curious mix of entrepreneurs,
          designers.....</p>

        <div class="reviewSection">
          <div class="header">
            <h5>Success Project</h5>
            <h5>Customer Review</h5>
          </div>

          <div class="review">

            <div class="leftReview">
              <h2>+95%</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do.</p>
              <div class="rattingIcon">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
            </div>
            <div class="rightReview">
              <h2>+4.7</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do.</p>
              <div class="rattingIcon">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<!-- cardImage section end here -->




<!-- planning section start here -->
<div class="planningBackImg">
  <div class="backcolor">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="leftPlaning">
            <h2>Good Business Planning Ensures Success.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.</p>
            <button class="btn viewBtn">
              <a href="#">View All Services</a>
              <span style="color: #fff;padding:8px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            </button>
          </div>
        </div>
        <div class="col-lg-5">home</div>
      </div>
    </div>
  </div>
</div>
<!--planning section end here -->



<!-- cource solutions section start here -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="leftCourceSolutions">
        <p>___Our Solutions</p>
        <h1>We Offer Professional Solutions For Your Business</h1>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="rightCourceSolutions">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        <button class="btn viewBtn">
          <a href="#">View All Services</a>
          <span style="color: #fff;padding:8px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="courceCard mb-3">
        <img src="../../assets/images/courceImg/training.png" alt="img">
        <div class="courceCardText">
          <h4>Social Media Marketing</h4>
          <p>Today, there are a host of social media platforms where a considerably large part of the population spends
            an increasing amount of time.</p>

          <a href="">Read More</a>
          <span style="color: #ef4136;padding:12px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="courceCard mb-3">
        <img src="../../assets/images/courceImg/digital.png" alt="img">
        <div class="courceCardText">
          <h4>Digital Marketing Consulting</h4>
          <p>A social media page and a website is nothing compared to a cohesive and clearly defined digital business
            strategy in today’s dynamic digital marketplace.
          </p>

          <a href="">Read More</a>
          <span style="color: #ef4136;padding:12px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="courceCard mb-3">
        <img src="../../assets/images/courceImg/api-dev.png" alt="img">
        <div class="courceCardText">
          <h4>API Development</h4>
          <p>Application Programming Interface or API is a set of instructions, requirements that enable one application
            to employ features of other applications...</p>

          <a href="">Read More</a>
          <span style="color: #ef4136;padding:12px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="courceCard mb-3">
        <img src="../../assets/images/courceImg/desktop-computer.png" alt="img">
        <div class="courceCardText">
          <h4>Website Development</h4>
          <p>The length and breadth of marketplace have exceeded all expectations in this decade. Virtual market or
            E-commerce has contributed much...</p>

          <a href="">Read More</a>
          <span style="color: #ef4136;padding:12px;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- cource soluti0ns section end here -->



<!-- Blog section start here -->
<div class="container mt-4">
  <div class="blogHeading">
    <h4>___Our Blogs___</h4>
    <h5>Latest Valuable Insights</h5>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/BLOG-THUMBNAIL-DEVANT-.png" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/hk1200.jpg" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/LEARNING-MANAGEMENT-SYSTEM-01.png" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/sb-1.jpg" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/What-Is-a-Sitemap-1.png" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/WhatsApp-Image-2021-06-24-at-2.04.25-PM.jpeg" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/WhatsApp-Image-2021-07-09-at-8.02.47-PM.jpeg" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/WhatsApp-Image-2021-07-15-at-1.24.58-PM.jpeg" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/WHY-SEO-01.png" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/MNC-01.png" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/PANDEMIC-01.png" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/AFFORDABILITY-QUALITY-01.png" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/Benifits-of-eCommerce.jpg" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/ESSENTIALY-scaled-1.jpg" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/Wordpress-Vs-Laravel.jpg" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/ROLE-OF-SOCIAL-MEDIA-ON-THE-PATH-TO-RE-OPENING.jpg" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/business-1839876_640.jpg" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/web-1935737_640.png" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/code-2620118_640.jpg" alt="img">
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="blogImage">
        <img src="../../assets/images/BlogsImags/ux-787980_640.jpg" alt="img">
      </div>
    </div>
  </div>
</div>
<!-- Blog section end here -->



<!-- company solutions section start here -->
<div class="container-fluid m-0 p-0">
  <div class="companySolution">
    <h1>Get Free Quote</h1>
    <p>Perfect solution for your Company</p>

    <div class="solutionForm">
      <div class="inputStyle">
        <input type="text" placeholder="Your Name">
      </div>
      <div class="inputStyle">
        <input type="text" placeholder="Your Email">
      </div>
      <div class="sendButton">
        <button>Get Quote</button>
      </div>
    </div>
  </div>
</div>
<!-- company solutions section end here -->



<!-- work process start here -->
<div class="container">
  <div class="workProcess">
    <p class="processText">___Our Work Process</p>
    <h1>Simple & Clean Work Process</h1>

    <div class="row">
      <div class="col-lg-3">
        <div class="successCard">
          <div class="successCardHead">
            <div class="successCardImg">
              <img src="../../assets/images/successCardImg/settings.png" alt="">
            </div>
            <div class="successStep">
              <p>Step - 1 </p>
            </div>
          </div>
          <div class="successCardText">
            <h4>Frame the Problem</h4>
            <p>The first stage in any IT solutions is meaningful, exhaustive and elaborate consultation between client
              and the service provider This is pivotal in developing a synergy between the business goals and...<span><a
                  style="text-decoration: none;color: #000;font-weight: 600;" href="">Read More</a></span></p>

          </div>

        </div>
      </div>
      <div class="col-lg-3">
        <div class="successCard">
          <div class="successCardHead">
            <div class="successCardImg">
              <img src="../../assets/images/successCardImg/settings.png" alt="">
            </div>
            <div class="successStep">
              <p>Step - 2 </p>
            </div>
          </div>
          <div class="successCardText">
            <h4>Collect the Raw Data </h4>
            <p>The nature and quantity of raw data varies according to the ‘problem’ set up as above. It includes
              aggregate data regarding online product environment as well as audience behavior in online platforms. This
              is...<span><a style="text-decoration: none;color: #000;font-weight: 600;" href="">Read More</a></span></p>

          </div>

        </div>
      </div>
      <div class="col-lg-3">
        <div class="successCard">
          <div class="successCardHead">
            <div class="successCardImg">
              <img src="../../assets/images/successCardImg/settings.png" alt="">
            </div>
            <div class="successStep">
              <p>Step - 3 </p>
            </div>
          </div>
          <div class="successCardText">
            <h4>Process the Data</h4>
            <p>Data itself is never knowledgeable. It is evaluated based on established quantitative benchmarks to
              produce concrete understanding of the raw data In IT solutions also, data is processed and this helps in
              understanding...<span><a style="text-decoration: none;color: #000;font-weight: 600;" href="">Read
                  More</a></span></p>

          </div>

        </div>
      </div>
      <div class="col-lg-3">
        <div class="successCard">
          <div class="successCardHead">
            <div class="successCardImg">
              <img src="../../assets/images/successCardImg/settings.png" alt="">
            </div>
            <div class="successStep">
              <p>Step - 4 </p>
            </div>
          </div>
          <div class="successCardText">
            <h4>Explore the Data</h4>
            <p>Once the collected raw data is separated in different aspects of the problem, these categories are used
              in further exploration of the collected data in the same axis. This gives depth to our existing knowledge
              on...<span><a style="text-decoration: none;color: #000;font-weight: 600;" href="">Read More</a></span></p>

          </div>

        </div>
      </div>

    </div>

    <!-- <div class="row">
      <div class="col-lg-3">
        <div class="successCard">
          <div class="successCardHead">
            <div class="successCardImg">
              <img src="../../assets/images/successCardImg/settings.png" alt="">
            </div>
            <div class="successStep">
              <p>Step - 5 </p>
            </div>
          </div>
          <div class="successCardText">
            <h4>Perform Analysis</h4>
            <p>The differentiated data is analyzed on the basis of needs of specific ‘problem’ of a particular client. It gives insights from large data sets orienting specific software tools. This helps in building specific data science solutions like analytical reports, dashboards...<span><a style="text-decoration: none;color: #000;font-weight: 600;" href="">Read More</a></span></p>
            
          </div>

        </div>
      </div>
      <div class="col-lg-3">
        <div class="successCard">
          <div class="successCardHead">
            <div class="successCardImg">
              <img src="../../assets/images/successCardImg/settings.png" alt="">
            </div>
            <div class="successStep">
              <p>Step - 6 </p>
            </div>
          </div>
          <div class="successCardText">
            <h4>Communicate Results</h4>
            <p>This is the last stage of the work. It is as crucial as the previous stages. The main aim of this stage is faithful and understandable.communication of the result from previous stages. The results are based on quantified qualifiers as well as amenable to translate...<span><a style="text-decoration: none;color: #000;font-weight: 600;" href="">Read More</a></span></p>
            
          </div>

        </div>
      </div>
    </div> -->

  </div>
</div>
<!-- work process end here -->


<!-- portfolio section start here -->
<div class="portfolioBackImg">
  <div class="container">
    <div class="portfolio">
      <p class="portfolioHeadText">___Our Portfolio</p>
      <h2>Our Consulting Case Study</h2>

      <div class="portfolioCard">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="portfolioCardStyle mb-3">
              <img src="../../assets/images/cardImg/our-portfolio-home__item-1.png" alt="img">
              <div class="portfolioText">
                <div class="leftText">
                  <p class="leftHead">Business, Finance</p>
                  <h4>Business & Strategy</h4>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore blanditiis deleniti ipsum
                    perspiciatis quas explicabo?</p>
                </div>
                <div class="rightText">
                  <a href="#" style="text-decoration: none;">
                    <h5>View Details</h5>
                    <i class="fa fa-level-up" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-4 col-md-6">
            <div class="portfolioCardStyle mb-3">
              <img src="../../assets/images/cardImg/our-portfolio-home__item-2.png" alt="img">
              <div class="portfolioText">
                <div class="leftText">
                  <p class="leftHead">Financial Solution</p>
                  <h4>Financial Reporting</h4>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore blanditiis deleniti ipsum
                    perspiciatis quas explicabo?</p>
                </div>
                <div class="rightText">
                  <a href="#" style="text-decoration: none;">
                    <h5>View Details</h5>
                    <i class="fa fa-level-up" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-4 col-md-6">
            <div class="portfolioCardStyle mb-3">
              <img src="../../assets/images/cardImg/our-portfolio-home__item-3.png" alt="img">
              <div class="portfolioText">
                <div class="leftText">
                  <p class="leftHead">Business, Consulting</p>
                  <h4>Business Consulting</h4>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore blanditiis deleniti ipsum
                    perspiciatis quas explicabo?</p>
                </div>

                <div class="rightText">
                  <a href="#" style="text-decoration: none;">
                    <h5>View Details</h5>
                    <i class="fa fa-level-up" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- portfolio section end here -->


<!-- home section end here -->


<!-- 

<div class="container">
    <button class="btnn b1_btn">Button 1</button>
    <button class="btnn b2_btn">Button 2</button>
</div> -->

