<!-- ************************************ -->

<div class="graphicSection">
    <div class="container-fluid p-0">
        <div class="careersBackgroundImage">
            <div class="careersBackColor">
                <div class="careers">
                    <h1 class="animate__animated animate__fadeInDown animate__delay-1s">Digital Marketing</h1>
                    <p class="animate__animated animate__fadeInLeft animate__delay-2s">Expand the reach of your business
                        with the help of your Social media presence
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="leftSection">
                <h3>Connect With Your Audience/Consumer with Proper Digital Marketing.</h3>
                <p>Currently, most of the population is connected with some sort of Social media platform. And as we the
                    businesses are always looking for such a mass crowd base for their advertisement. However, most
                    businesses can’t succeed or connect with their potential consumers because of improper Digital
                    Marketing
                    or guidance.

                    In Devant, we try to understand the market as well as the client's needs. So that we can Strategies,
                    Plan, and implement the best Internet Marketing method in order to generate a positive and impactful
                    result. Now let's have a look at the digital marketing benefits.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="rightSection">
                <h3>Advantages of Digital Marketing</h3>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> Reach your potential customers in a cost-effective way.</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2>Give your business a global reach and convert it into a brand.
                    </h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> Customers target Ad campaigns that can provide more beneficial results than the traditional
                        methods.</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> Always be informed about your current and potential customer base, so that you can tweak your
                        products and business for better growth.</h2>
                </div>
                <div class="appCard">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> Diversified marketing and advertising opportunities so that you can test new products in
                        unknown markets.</h2>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <h3 class="internetMarketingHead">Our Internet Marketing Services</h3>
        <div class="col-lg-6">
            <div class="internetMarketing">
                <div class="appCard2">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2> Social Media Marketing</h2>
                </div>
                <P>We are here to build social media campaigns to grow your business and engage your customers. Our
                    digital marketing agency helps to identify your goals. By analysis our team develops custom social
                    media brand management that helps in your business.</P>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="internetMarketing">
                <div class="appCard2">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2>Search Engine Optimization(SEO)</h2>
                </div>
                <P>If you want to rank your website on the first page of a search engine then our dedicated SEO team
                    will help you achieve your goals. Our internet marketing service provides you with all the content
                    with SEO and manages the content professionally and is ready to publish.</P>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="internetMarketing">
                <div class="appCard2">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2>Google Ads</h2>
                </div>
                <P>We offer google ads that will reach your targeted audience and make your every campaign.
                </P>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="internetMarketing">
                <div class="appCard2">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2>Email Marketing </h2>
                </div>
                <P>Our marketing team creates personalised email newsletters to make it out of spam folders. It always
                    encourages your customers. We are here to increase your subscriber list, test email before campaign
                    delivery.</P>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="internetMarketing">
                <div class="appCard2">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h2>Content Marketing</h2>
                </div>
                <P>Content is the crucial thing for SEO. For this content, many people visit your site. We'll write it
                    with precision. We have our content specialists who are always aware of the latest news and market
                    trends when developing content.</P>
            </div>
        </div>
    </div>


       <div class="chooseUsSection">
            <h3>Why Choose Us?</h3>
            <p>In the Internet Marketing world, you will always need a marketing expert & a team to look over the ongoing trends and leverage your business according to them. Devant IT Solutions have already had a very good experience in brand building and Social media marketing.</p>

            <p>Apart from that, we are quite knowledgeable about ongoing trends and different marketing strategies in order to give our customers an edge over their compactors. Now, to know about our past and ongoing digital marketing projects, please follow our portfolio.</p>

            <div class="chooseBtn">
                 <button class="btn btn-danger">Get Free Consultation Now</button>
            </div>

       </div>
</div>



<div class="container-fluid mt-5">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/7.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/8.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/5.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/6.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/9.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/10.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="cardImage">
                <img src="../../assets/images/associatesImage/11.png" alt="">
            </div>
        </ng-template>

    </owl-carousel-o>
</div>


