.graphicSection {
    margin-top: -70px;
}

.careersBackgroundImage {
    background-image: url('../../../assets/images/webDevalopmentImg/digitalmarketing.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    position: relative;
}

.careersBackColor {
    position: absolute;
    background: #00000091;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 140px 0px 0px 0px;
}

.careers h1 {
    text-align: center;
    font-size: 46px;
    font-family: 'ABeeZee', sans-serif;
    color: #fff;
    font-weight: 600;
}

.careers p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'ABeeZee', sans-serif;
}

.leftSection {
    padding-top: 35px;
}

.leftSection h3 {
    font-size: 22px;
    font-weight: 600;
    color: #ef4136;
    padding-bottom: 10px;
}

.leftSection p {
    font-size: 15px;
    color: #6c6c6c;
    text-align: justify;
}


.rightSection {
    padding-top: 35px;
}

.rightSection h3 {
    font-size: 22px;
    font-weight: 600;
    color: #ef4136;
    padding-bottom: 10px;
}

.appCard {
    display: flex;
    background: #80808014;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all 0.6s;
}

.appCard i {
    color: #ef4136;
    padding: 10px 0px 0px 13px;
    font-size: 20px;
}

.appCard h2 {
    font-size: 14px;
    padding: 12px 0px 8px 12px;
}

.internetMarketingHead {
    padding: 40px 0px;
    text-align: center;
    font-weight: 600;
    color: #ef4136;
}

.internetMarketing {
    background: #80808014;
}

.internetMarketing P {
    color: #6c6c6c;
    font-size: 13PX;
    text-align: justify;
    padding: 0px 15px 15px 15px;
}


.appCard2 {
    display: flex;
    border-radius: 4px;
    transition: all 0.6s;
}

.appCard2 i {
    color: #ef4136;
    padding: 14px 0px 0px 13px;
    font-size: 20px;
}

.appCard2 h2 {
    font-size: 20px;
    padding: 12px 0px 8px 12px;
    font-weight: 600;
}


.appcardimg img {
    width: 100%;
    height: 100%;
}

.chooseUsSection {
    padding: 30px 0px;
    text-align: center;
}

.chooseUsSection h3 {
    color: #ef4136;
    font-weight: 600;
    padding-bottom: 10px;
}

.chooseUsSection p {
    color: #6c6c6c;
    font-size: 15px;
}


/* slider section start here */

.cardImage {
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    margin-bottom: 20px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.cardImage:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cardImage img {
    width: 100%;
    height: 93px;
    padding: 7px 8px;
}

@media only screen and (max-width: 767px) {

    .careersBackgroundImage {
        height: 220px;
    }

    .careersBackColor {
        padding: 80px 0px 0px 0px;
    }

    .careers {
        padding: 0px 7px;
    }

    .careers h1 {
        padding-top: 25px;
        font-size: 28px;
    }

    .careers p {
        display: none;
    }

    .chooseUsSection {
        padding: 10px 0px;
    }

    .rightSection {
        padding-top: 15px;
    }

    .chooseUsSection h3 {
        font-size: 18px;
    }

    .chooseUsSection p {
        text-align: justify;
        font-size: 13px;
    }

    .internetMarketingHead {
        padding: 18px 0px;
        font-size: 18px;
    }

    .leftSection h3,
    .rightSection h3 {
        font-size: 18px;
        text-align: center;
    }

}

